@charset "UTF-8";
@font-face {
	font-family: "TmoneyRoundWindExtraBold";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
  *,
    *:before,
    *:after {
      box-sizing: border-box;
    }
    figure.snip1432 * {
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease; /* 호버속도조절 */
    }
    
    figure.snip1432 h1:nth-of-type(2) {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(150%); /* 회원정보수정 사라지는반경 */
    }

    figure.snip1432:hover figcaption h1:first-of-type,
    figure.snip1432.hover figcaption h1:first-of-type {
      transform: translateY(200%); /* changing 사라지는반경 */
      opacity: 0;
    }
    figure.snip1432:hover figcaption h1:nth-of-type(2),
    figure.snip1432.hover figcaption h1:nth-of-type(2) {
      opacity: 1;
      -webkit-transform: translateY(0%);
      transform: translateY(-450%); /* 회원정보수정 높낮이*/
    }
    body {
      background: linear-gradient(130deg, #7389d0, #eebdc3);
      background-repeat: no-repeat;      
      background-size: 100% 100%;
      background-attachment: fixed;
    }

    h1,
    h4 {
      /* 상단 로고 부분 */
      color: white;
      text-shadow: 0px 0px 20px rgb(234 237 176);
    }
    h1 {
      text-align: center;
      font-size: 70px;
      height: 10px;
    }
    h4 {
      font-size: 28px;
      text-align: center;
    }
    @keyframes sparkle { /* input칸 호버시 액션효과 */
      from {
        background-position: 0% 100%;
      }
      to {
        background-position: 200% 100%;
      }
    }
    section {
      /* 개인정보 등록하는 부분을 감싼 옅은 선 */
      display: grid;
      justify-items: center;
    }
    fieldset {
      /* 개인정보 등록하는 부분을 감싼 옅은 선 */
      border-radius: 20px;
      display: grid;
      justify-items: center;
      border: 5px solid grey;
      box-shadow: 0px 0px 100px grey;
    }

    table {
      border-collapse: collapse;
    }

    .joinTable th,
    .joinTable td {
      padding: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #ddd;
    }
    .joinTable th {
      text-align: center;
      background-color: gray;
      border-radius: 15px;
    }
    .joinTable td {
      width: 400px;
    }
    .joinTable .textForm {
      width: 300px;
      height: 30px;
      border: 0;
      border-radius: 5px;
    }
    .joinTable:hover .textForm:hover {
      animation: sparkle 4s infinite linear;
      background: linear-gradient(90deg, #7389d0, #eebdc3, #7389d0);
      background-size: 300% 100%;
      border-radius: 4px;
      z-index: -1;
      transform: scale(0.99) translateY(3px);
    }
    .joinTable .btn {
      width: 70px;
      cursor: pointer;
      border: 0;
      border-radius: 5px;
    }

    .btn_home, .btn_update {
      display: inline-block;
      color: rgb(90, 90, 90);
      transition: all 0.3s ease-out;
      background: linear-gradient(
        270deg,
        rgba(223, 190, 106, 0.8),
        rgba(146, 111, 52, 0.8),
        rgba(34, 34, 34, 0),
        rgba(34, 34, 34, 0)
      );
      background-position: 1% 50%;
      background-size: 300% 300%;
      border: 1px solid rgba(223, 190, 106, 0.3);
      padding: 5px;
      font-weight: bold;
      font-size: 15px;
    }

    .btn:hover {
      background-position: 99% 50%;
    }
    button {
      cursor: pointer;
      margin-top: 10px;
      border-radius: 5px;
    }
 
@media screen and (max-width:850px) {
	h1 {
		font-size: 60px;	
	}

 @media screen and (max-width:750px) {
	h1 {
		font-size: 50px;	
	}
	@media screen and (max-width:630px) {
	h1 {
		font-size: 40px;	
	}